#!/bin/bash
#SBATCH --account {{ account }}
#SBATCH --partition {{ partition }}
#SBATCH --time={{ walltime }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --ntasks={{ ntasks }}
#SBATCH --cpus-per-task=1
#SBATCH --mem={{ mem }}
#SBATCH --output={{ output }}
#SBATCH --error={{ error }}
#SBATCH --job-name={{ job_name }}
{% if array %}
#SBATCH --array={{ array }}
{% endif %}
{% if dependency %}
#SBATCH --dependency={{ dependency }}
{% endif %}

## Load relevant modules
    module load ompi
    module load conda

## Access environment variables
    source {{ env }}

## Export out environment variables
#export $(xargs <${env})
export TRI_NUM=$SLURM_ARRAY_TASK_ID

## Run the Compression File
python -u "{{python_script}}"
