#!/bin/bash
#SBATCH --account {{ account }}
#SBATCH --partition {{ partition }}
#SBATCH --time={{ walltime }}
#SBATCH --ntasks-per-node={{ ntasks_per_node }}
#SBATCH --mem={{ mem }}
#SBATCH --output={{ output }}
#SBATCH --error={{ error }}
#SBATCH --job-name={{ job_name }}
#SBATCH --array={{ array }}

## Load relevant modules
    module load ompi
    
## Access environment variables
  source {{ env }}

# Construct name of input file
    input_dir="$(printenv INPUTS)"
    task_id=$(printf "%05d" "${SLURM_ARRAY_TASK_ID}")
    input_file="${input_dir}input_${task_id}.txt"

## Run NHWAVE
    mpirun -n {{ ntasks_per_node }} ${NH_ex} $input_file
    
## Activate Python Environment
conda activate $conda

## Export out environment variables
export $(xargs <{env})
export TRI_NUM=$SLURM_ARRAY_TASK_ID

## Run the Compression File
python "{{python_script}}"
