#!/bin/bash
#SBATCH --account {{ account }}
#SBATCH --partition {{ partition }}
#SBATCH --time={{ walltime }}
#SBATCH --ntasks=1
#SBATCH --mem={{ mem }}
#SBATCH --output={{ output }}
#SBATCH --error={{ error }}
#SBATCH --job-name={{ job_name }}
{% if dependency %}
#SBATCH --array={{ array }}
{% endif %}


    
## Load relevant modules
    module load conda

## Access environment variables
    source {{ env }}

## Activate conda environment
    conda activate "${conda}"

## Export out environment variables
export $(xargs <{{env}})

## Run the Compression File
python -u "{{python_script}}"
